<!DOCTYPE html>
<html>
<head>
    <title>Services Page</title>
</head>
<body>
    <nav style="background:#333; padding:15px;">
    
       <a href="{% url 'home' %}" style="color:white; margin-right:20px; text-decoration:none;">Home</a>
    
       <a href="{% url 'about' %}" style="color:white; margin-right:20px; text-decoration:none;">About Us</a>
    
       <a href="{% url 'services' %}" style="color:white; margin-right:20px; text-decoration:none;">Services</a>
    
       <a href="{% url 'contact' %}" style="color:white; text-decoration:none;">Contact</a>

       <button style=" background-color: aqua; margin-left: 20px;"><a href="{% url 'landing' %}"style="color:black; text-decoration:none;">Go to Landing Page</a></button>

    </nav>

    <h1>Welcome to Services Page</h1>
    

</body>
</html>